<!-- About Section-->
<section class="box" id="about">
    <h1>About</h1>
    <h2>meet christiana smith</h2>
    <p>Sed quam eu nisl suscipit vehicula sit amet vel est. In congue eu metus ac commodo. Cras id lacus quis velit vehicula blandit. Donec tempus quam lorem, in mollis est porttitor ut. Duis id fringilla enim. Maecenas ipsum metus, mollis non nunc eu, lacinia venenatis magna. Maecenas euismod lorem ut elementum tincidunt. Maecenas consequat sodales orci, nec mollis massa tincidunt a. Sed tristique est ac orci maximus, in porta ipsum bibendum. Proin vestibulum id nulla et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h3>header three</h3>
    <b>bold</b>, <i>italics</i>, <a href="/">link</a>, text. Sed quam eu nisl suscipit vehicula sit amet vel est. In congue eu metus ac commodo. Cras id lacus quis velit vehicula blandit. Donec tempus quam lorem, in mollis est porttitor ut. Duis id fringilla enim. Maecenas ipsum metus, mollis non nunc eu, lacinia venenatis magna. Maecenas euismod lorem ut elementum tincidunt. Maecenas consequat sodales orci, nec mollis massa tincidunt a. Sed tristique est ac orci maximus, in porta ipsum bibendum. Proin vestibulum id nulla et tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>
    </p><h4>this is your header four</h4>

    <b>bold</b>, <i>italics</i>, <a href="/">link</a>, text. 
    <p>text</p>
</section>
