<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>

  <div id="sidebar" style="position: fixed;">
      <div class="outernav">
        {% include navigation.html %}
      </div>
    </div>

  <body>
    <div id="main" style="position: absolute">
      {% include header.html %}
      {% include about.html %}
      {% include experience.html %}
      {% include contact.html %}
      {% include footer.html %}
    </div>

  </body>
</html>
